<!-- start custom footer snippets -->
<link rel="stylesheet" href="/assets/node_modules/aplayer/dist/APlayer.min.css">
<div id="aplayer"></div>
<script src="/assets/node_modules/aplayer/dist/APlayer.min.js"></script>
<script src="/assets/hifini.com__dm.js"></script>
<script>
var ap = new APlayer({
  element: document.getElementById('aplayer'),
  narrow: false,
  //fixed: true, //<!--吸底模式 -->  
  mini: false, 
  autoplay: true,
  loop: 'all',
  order: 'random',
  volume: 1,
  preload: 'auto',
  showlrc: false,
  mutex: true,
  theme: '#0a0a0f',// '#ad7a86', // '#b7daff', 
  listFolded: true,
  music: [
    {
      title: '问情',
      author:'江淑娜',
      url: 'https://hifini.com/get_music.php?key=bgehIoW84ERjTyrULJGbOunXD6maal9ZCmNJtEqaybsTPdlhl7ngVlqlIqSD0WDtq3FbADzke1JwwwHiFiNicomqRHIg4c&p=' + generateParam('mGyPCuOIPYD3QQMWL0ROzbs7AA3z7IRWZsyQU1I3dEZuESnwswyKDutPEPFJaPegXtV2MJvXmaFnX5nJuuxWDqC8RMy6r8lxxHiFiNixxA7Ru8cz2iqbGBCp2NQ'),
      pic: 'https://y.gtimg.cn/music/photo_new/T002R300x300M000001hzatl3YF6Dg.jpg'
    },
    {
      title: '莫再悲',
      author:'林子祥',
      url: 'https://hifini.com/get_music.php?key=OlakIYi85ENjTyrULJGbOunXD6maal9ZCmNJtEqaybsTPdlhl7nlTXXvPoCHwwwHiFiNicom1DIjmpbADzke1JxqRDBhg&p=' + generateParam('x2zeDrDYZY73QQMWL0ROzbs7AA3z7IRWZsyQU1I3dEZuESnwswyKDutPEPFJaPegXtV2MJvXnLpIFYXtvsZmK4WnRMy6r8lxxHiFiNixxDLRvwwwHiFiNicomMnu1PjZ'),
      pic: 'https://y.gtimg.cn/music/photo_new/T002R300x300M000000cQ2JX4YzVSw.jpg'
    },
  ]
});
</script>
<!-- end custom footer snippets -->